openapi: 3.1.0
info:
  title: Caliper API
  version: 1.0.0
  description: >-
    # Documentation


    ## Overview


    The Alpha Caliper API is a service that receives, validates, and processes
    learning events conforming to the [IMS Caliper Analytics®
    specification](https://www.imsglobal.org/spec/caliper/v1p2). 

    This API enables educational technology platforms to track and analyze
    student engagement, learning activities, and assessment outcomes.


    ## Key Features


    - **Event Validation**: Ensures all submitted events conform to the Caliper
    Analytics specification

    - **Event Processing**: Processes and stores valid events for analytics

    - **Multiple Event Profiles**: Supports various Caliper event profiles


    ## Getting Started


    To use this API, you need to:


    1. **Familiarize with Caliper**: Understand the [IMS Caliper Analytics
    specification](https://www.imsglobal.org/spec/caliper/v1p2)

    2. **Format Your Events**: Structure your events according to the Caliper
    data model

    3. **Submit Events**: Send events to our API endpoints wrapped in a Caliper
    envelope


    ---


    # Frequently Asked Questions



    ## Purpose of the API


    Q: **What is the purpose of the Alpha Caliper API?**


    A: Receive, validate and store learning events conforming to the [IMS
    Caliper Analytics®
    specification](https://www.imsglobal.org/spec/caliper/v1p2).


    ---


    ## Out of scope


    Q: **What is not the (direct) purpose of the Alpha Caliper API?**


    A: 


    - Generate insights from events. (ETL)

    - Provide a learning analytics platform.

    - Provide a learning content management system.

    - Raw crud apis.


    ---


    ## Insights generation


    Q: **Does Caliper have an ETL layer to extract insights from the events
    sent?**


    A: No, caliper is only responsible for storing the events, other services
    may implement an ETL layer to extract insights from specific events.

    Caliper acts like a data warehouse, it's purpose is to store events and make
    them available for reporting and analytics.


    ---


    ## Specific Use-cases


    Q: **Which events should I send?**


    A: The Alpha Caliper API supports the entire Caliper specification. We also
    extended the base spec to contain specific events for the Timeback platform.


    - If you are using the Timeback platform, take a look at the section below
    for supported use-cases.

    - If your use-case is not supported, please contact us to discuss how we can
    extend the spec to support your use-case.

    - If you want your events to be processed by the Alpha Analytics API (ETL),
    you need to conform to the TimeBack Profile and it's supported events.


    ---


    # Timeback Platform Users


    ## Guide


    If you are a user of the timeback platform you may have these questions:


    - Q: **How do I give XP to my students?**

    - Q: **How do I record time spent on activities?**

    - Q: **How do I provided information about total questions, correct answers,
    etc?**


    A: Use The **Timeback Profile**, which is a profile that extends the base
    Caliper specification to support the Timeback platform.


    It contains the following events:


    - **TimebackActivityEvent** - used to record student interaction with an
    activity.

    - **TimebackTimeSpentEvent** - used to record the time spent on an activity.



    See the timeback docs for more information:


    [Timeback
    Docs](https://caliper.alpha-1edtech.com/scalar?api=timeback-events-api)


    ---


    # Authentication


    ## Guide


    Most endpoints require authentication using the `Authorization: Bearer
    <token>` header.


    The token can be obtained with:


    ```

    curl -X POST
    https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com/oauth2/token
    \

    -H "Content-Type: application/x-www-form-urlencoded" \

    -d
    "grant_type=client_credentials&client_id=<your-client-id>&client_secret=<your-client-secret>"

    ```


    Use the correct IDP server depending on the environment you're using:


    - Production Server:
      https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com
    - Staging Server:
      https://alpha-auth-development-idp.auth.us-west-2.amazoncognito.com

    Reach out to the platform team to get a client/secret pair for your
    application.
servers:
  - url: https://caliper.alpha-1edtech.com
    description: Caliper API
tags:
  - name: Caliper Events
    description: >-
      These are the endpoints to use when submitting and validating Caliper
      Events
security:
  - OAuth2: []
paths:
  /caliper/event:
    post:
      tags:
        - Caliper Events
      summary: Create Caliper Events
      description: >-
        Receives and processes Caliper events wrapped in an envelope. Events
        will be validated against the IMS Caliper Analytics specification and
        stored for further processing and analysis.
      requestBody:
        description: The Caliper envelope containing events to process
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Envelope'
            examples:
              example1: &ref_0
                summary: 1 - Generic Event Example
                description: Example of a basic Generic event
                value:
                  sensor: https://alpharead.alpha.school
                  sendTime: '2025-07-23T00:10:22.328Z'
                  dataVersion: http://purl.imsglobal.org/ctx/caliper/v1p2
                  data:
                    - id: urn:uuid:c51570e4-f8ed-4c18-bb3a-dfe51b2cc594
                      type: Event
                      actor: https://example.edu/users/554433
                      action: Created
                      object: >-
                        https://example.edu/terms/201801/courses/7/sections/1/assignments/1
                      eventTime: '2023-08-15T14:12:00.000Z'
              example2: &ref_1
                summary: 2 - Tool Use Event Example
                description: Example of a basic Tool Use event
                value:
                  sensor: https://alpharead.alpha.school
                  sendTime: '2025-07-23T00:10:22.328Z'
                  dataVersion: http://purl.imsglobal.org/ctx/caliper/v1p2
                  data:
                    - '@context': http://purl.imsglobal.org/ctx/caliper/v1p2
                      id: urn:uuid:7e10e4f3-a0d8-4430-95bd-783ffae4d916
                      type: ToolUseEvent
                      profile: ToolUseProfile
                      actor:
                        id: https://example.edu/users/554433
                        type: Person
                      action: Used
                      object:
                        id: https://example.edu
                        type: SoftwareApplication
                      eventTime: '2016-11-15T10:15:00.000Z'
                      edApp: https://example.edu
                      group:
                        id: https://example.edu/terms/201601/courses/7/sections/1
                        type: CourseSection
                        extensions:
                          courseNumber: CPS 435-01
                          academicSession: Fall 2016
              example3: &ref_2
                summary: 3 - Annotation Event Example
                description: Example of a basic Annotation event
                value:
                  sensor: https://alpharead.alpha.school
                  sendTime: '2025-07-23T00:10:22.328Z'
                  dataVersion: http://purl.imsglobal.org/ctx/caliper/v1p2
                  data:
                    - '@context': http://purl.imsglobal.org/ctx/caliper/v1p2
                      id: urn:uuid:7e10e4f3-a0d8-4430-95bd-783ffae4d916
                      type: AnnotationEvent
                      profile: AnnotationProfile
                      actor:
                        id: https://example.edu/users/554433
                        type: Person
                      action: Highlighted
                      object:
                        id: https://example.edu/terms/201801/courses/7/resources/1
                        type: DigitalResource
                      generated:
                        id: https://example.edu/users/554433/annotations/1
                        type: HighlightAnnotation
                        annotator: https://example.edu/users/554433
                        annotated: https://example.edu/terms/201801/courses/7/resources/1
                        selection:
                          type: TextPositionSelector
                          start: 412
                          end: 795
                      eventTime: '2023-08-01T06:00:00.000Z'
                      edApp: https://example.edu/apps/annotation-tool
              example4: &ref_3
                summary: 4 - Tool Use Generated Metrics
                description: Example of a basic Tool Use event with generated metrics
                value:
                  sensor: https://alpharead.alpha.school
                  sendTime: '2025-07-23T00:10:22.328Z'
                  dataVersion: http://purl.imsglobal.org/ctx/caliper/v1p2
                  data:
                    - id: urn:uuid:c51570e4-f8ed-4c18-bb3a-dfe51b2cc594
                      type: ToolUseEvent
                      profile: ToolUseProfile
                      actor:
                        id: >-
                          https:/your-app.domain/users/fdeb7d92-b3a4-4b6c-a201-cb590b43bce1
                        type: Person
                        extensions:
                          email: noemail@student.com
                      action: Used
                      object:
                        id: https:/your-app.domain
                        name: Learning
                        type: SoftwareApplication
                      generated:
                        id: >-
                          https:/your-app.domain/session/adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                        type: AggregateMeasureCollection
                        items:
                          - id: >-
                              https:/your-app.domain/session/adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                            type: AggregateMeasure
                            metric: Facts Learnt
                            metricValue: 2
                          - id: >-
                              https:/your-app.domain/session/adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                            type: AggregateMeasure
                            metric: Facts Practiced
                            metricValue: 4
                          - id: >-
                              https:/your-app.domain/session/adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                            type: AggregateMeasure
                            metric: Facts Assessed
                            metricValue: 3
                      session:
                        id: >-
                          https:/your-app.domain/session/adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                        type: Session
                        extensions:
                          session_id: adac039d-4ff4-48b9-bfb0-8ec37ac9d1ea
                      eventTime: '2025-03-25T14:12:00.000Z'
      responses:
        '200':
          description: The events were processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: success
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
        '400':
          description: The request payload is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: error
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
  /caliper/event/validate:
    post:
      tags:
        - Caliper Events
      summary: Validate Caliper Events
      description: Validate Caliper Events
      requestBody:
        description: The Caliper envelope containing events to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Envelope'
            examples:
              example1: *ref_0
              example2: *ref_1
              example3: *ref_2
              example4: *ref_3
      responses:
        '200':
          description: The request payload is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: success
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
        '400':
          description: The request payload is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: error
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
  /caliper/events:
    get:
      tags:
        - Caliper Events
      summary: List Caliper Events
      description: List Caliper Events
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: number
        - name: offset
          in: query
          required: false
          schema:
            type: number
        - name: sensor
          in: query
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          required: false
          schema:
            type: string
        - name: actorId
          in: query
          required: false
          schema:
            type: string
        - name: actorEmail
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The events were retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: success
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
        '400':
          description: The request payload is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: error
                  message:
                    type: string
                  errors: {}
                required:
                  - status
                  - message
components:
  securitySchemes:
    MCP:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: >-
            https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com/oauth2/authorize
          tokenUrl: >-
            https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com/oauth2/token
          scopes:
            https://purl.imsglobal.org/spec/caliper/v1p1/scope/webhook.readonly: Webhook readonly scope (can read webhooks)
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            https://purl.imsglobal.org/spec/caliper/v1p1/scope/admin: Admin scope (can call all endpoints)
            https://purl.imsglobal.org/spec/caliper/v1p1/scope/webhook.create: Webhook create scope (can create and update webhooks)
            https://purl.imsglobal.org/spec/caliper/v1p1/scope/webhook.readonly: Webhook readonly scope (can read webhooks)
            https://purl.imsglobal.org/spec/caliper/v1p1/scope/event.create: Event create scope (can create events)
          tokenUrl: >-
            https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com/oauth2/token
  schemas:
    Envelope:
      type: object
      properties:
        sensor:
          type: string
          format: uri
          description: >-
            The sensor.id that uniquely identifies the Caliper Sensor. Should be
            in the form of an IRI
          example: https://example.edu/sensors/1
        sendTime:
          type: string
          format: date-time
          description: >-
            The time the data was sent, formatted as an ISO 8601 date and time
            in UTC
          example: '2023-08-15T14:12:00.000Z'
        dataVersion:
          type: string
          const: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: >-
            The data format version. Indicates which version of the Caliper
            specification governs the form of the entities and events
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        data:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Event'
              - $ref: '#/components/schemas/Entity'
          minItems: 1
          description: >-
            The data payload, consisting of an array where items are Caliper
            Events or Entities
          example:
            - id: urn:uuid:c51570e4-f8ed-4c18-bb3a-dfe51b2cc594
              type: Event
              actor: https://example.edu/users/554433
              action: Created
              object: >-
                https://example.edu/terms/201801/courses/7/sections/1/assignments/1
              eventTime: '2023-08-15T14:12:00.000Z'
      required:
        - sensor
        - sendTime
        - dataVersion
        - data
      description: |-
        # Envelope

        Represents a package containing events and entity data for ingestion
    Event:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          pattern: ^urn:uuid:(.*)$
          description: Unique identifier for this event. Must be a UUID expressed as a URN
          example: urn:uuid:c51570e4-f8ed-4c18-bb3a-dfe51b2cc594
        type:
          type: string
          description: >-
            The type of this event. Must match the term specified in the Caliper
            information model
          example: Event
        actor:
          type:
            - string
            - object
          description: The agent who initiated the event
          example: https://example.edu/users/554433
        action:
          type: string
          description: The action or predicate that binds the actor to the object
          example: Created
        object:
          type:
            - string
            - object
          description: The object of the interaction
          example: https://example.edu/terms/201801/courses/7/sections/1/assignments/1
        eventTime:
          type: string
          format: date-time
          description: ISO 8601 datetime when this event occurred
          example: '2023-08-15T14:12:00.000Z'
        profile:
          allOf:
            - $ref: '#/components/schemas/AllProfiles'
          description: The profile that governs interpretation of this event
          example: AnnotationProfile
        edApp:
          type: &ref_18
            - string
            - object
          description: The application context
          example: https://example.edu/apps/learning-management
        generated:
          type: &ref_28
            - string
            - object
          description: Entity generated as a result of the interaction
          example: https://example.edu/users/554433/responses/1
        target:
          type: &ref_19
            - string
            - object
          description: >-
            Entity that represents a particular segment or location within the
            object
          example: >-
            https://example.edu/terms/201801/courses/7/sections/1/assignments/1/items/1
        referrer:
          type: &ref_20
            - string
            - object
          description: Entity that represents the referring context
          example: https://example.edu/terms/201801/courses/7/sections/1
        group:
          type: &ref_21
            - string
            - object
          description: >-
            An Organization that represents the group context. Can be either a
            URI or an Organization entity object
          example: &ref_22
            id: https://example.edu/terms/201801/courses/7/sections/1
            type: Organization
            extensions:
              info: other params should follow organization schema
        membership:
          type: &ref_23
            - string
            - object
          description: >-
            The relationship between the action and the group in terms of roles
            and status
          example: https://example.edu/terms/201801/courses/7/sections/1/rosters/1
        session:
          type: &ref_24
            - string
            - object
          description: The current user Session
          example: >-
            https://example.edu/sessions/1f6442a482de72ea6ad134943812bff564a76259
        federatedSession:
          type: &ref_25
            - string
            - object
          description: >-
            If the Event occurs within the context of an LTI platform launch,
            the tool's LtiSession
          example: https://example.edu/lti-sessions/b533eb02823f31024765305dd3af7b5e
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: &ref_26
            customField: customValue
      required:
        - id
        - type
        - actor
        - action
        - object
        - eventTime
        - profile
      additionalProperties: false
      description: |-
        # Event

        Represents a Caliper Event that describes learning activities
    AllProfiles:
      type: string
      enum:
        - AnnotationProfile
        - AssessmentProfile
        - ToolUseProfile
        - GeneralProfile
        - FeedbackProfile
        - MediaProfile
        - SurveyProfile
        - ResourceManagementProfile
        - ForumProfile
        - AssignableProfile
        - GradingProfile
        - ReadingProfile
        - SessionProfile
        - SearchProfile
        - ToolLaunchProfile
        - TimebackProfile
      description: >-
        # Supported Profiles


        These are the profiles that this API currently supports.


        See the
        [specification](https://www.imsglobal.org/spec/caliper/v1p2#profiles-0)
        for a list of all profiles.
    AllAgents:
      oneOf:
        - $ref: '#/components/schemas/Agent'
        - $ref: '#/components/schemas/Person'
        - $ref: '#/components/schemas/Organization'
        - $ref: '#/components/schemas/Group'
        - $ref: '#/components/schemas/CourseOffering'
        - $ref: '#/components/schemas/CourseSection'
        - $ref: '#/components/schemas/SoftwareApplication'
        - $ref: '#/components/schemas/TimebackUser'
      discriminator:
        propertyName: type
        mapping:
          Agent: '#/components/schemas/Agent'
          Person: '#/components/schemas/Person'
          Organization: '#/components/schemas/Organization'
          Group: '#/components/schemas/Group'
          CourseOffering: '#/components/schemas/CourseOffering'
          CourseSection: '#/components/schemas/CourseSection'
          SoftwareApplication: '#/components/schemas/SoftwareApplication'
          TimebackUser: '#/components/schemas/TimebackUser'
      description: >-
        # Supported Agents


        These are the agents that this API currently supports.


        See the
        [specification](https://www.imsglobal.org/spec/caliper/v1p2#Agent) for a
        list of all agents.
    AllAnnotations:
      oneOf:
        - $ref: '#/components/schemas/Annotation'
        - $ref: '#/components/schemas/BookmarkAnnotation'
        - $ref: '#/components/schemas/HighlightAnnotation'
        - $ref: '#/components/schemas/SharedAnnotation'
        - $ref: '#/components/schemas/TagAnnotation'
      discriminator:
        propertyName: type
        mapping:
          Annotation: '#/components/schemas/Annotation'
          BookmarkAnnotation: '#/components/schemas/BookmarkAnnotation'
          HighlightAnnotation: '#/components/schemas/HighlightAnnotation'
          SharedAnnotation: '#/components/schemas/SharedAnnotation'
          TagAnnotation: '#/components/schemas/TagAnnotation'
    AllDigitalResources:
      oneOf:
        - $ref: '#/components/schemas/DigitalResource'
        - $ref: '#/components/schemas/DigitalResourceCollection'
        - $ref: '#/components/schemas/AssignableDigitalResource'
        - $ref: '#/components/schemas/Assessment'
        - $ref: '#/components/schemas/AssessmentItem'
        - $ref: '#/components/schemas/MediaObject'
        - $ref: '#/components/schemas/AudioObject'
        - $ref: '#/components/schemas/ImageObject'
        - $ref: '#/components/schemas/VideoObject'
        - $ref: '#/components/schemas/DatetimeQuestion'
        - $ref: '#/components/schemas/OpenEndedQuestion'
        - $ref: '#/components/schemas/MultiSelectQuestion'
        - $ref: '#/components/schemas/MediaLocation'
        - $ref: '#/components/schemas/Forum'
        - $ref: '#/components/schemas/Thread'
        - $ref: '#/components/schemas/Message'
        - $ref: '#/components/schemas/Document'
        - $ref: '#/components/schemas/Chapter'
        - $ref: '#/components/schemas/Page'
        - $ref: '#/components/schemas/WebPage'
        - $ref: '#/components/schemas/Frame'
        - $ref: '#/components/schemas/Questionnaire'
        - $ref: '#/components/schemas/QuestionnaireItem'
      discriminator:
        propertyName: type
        mapping:
          DigitalResource: '#/components/schemas/DigitalResource'
          DigitalResourceCollection: '#/components/schemas/DigitalResourceCollection'
          AssignableDigitalResource: '#/components/schemas/AssignableDigitalResource'
          Assessment: '#/components/schemas/Assessment'
          AssessmentItem: '#/components/schemas/AssessmentItem'
          MediaObject: '#/components/schemas/MediaObject'
          AudioObject: '#/components/schemas/AudioObject'
          ImageObject: '#/components/schemas/ImageObject'
          VideoObject: '#/components/schemas/VideoObject'
          DatetimeQuestion: '#/components/schemas/DatetimeQuestion'
          OpenEndedQuestion: '#/components/schemas/OpenEndedQuestion'
          MultiselectQuestion: '#/components/schemas/MultiSelectQuestion'
          MediaLocation: '#/components/schemas/MediaLocation'
          Forum: '#/components/schemas/Forum'
          Thread: '#/components/schemas/Thread'
          Message: '#/components/schemas/Message'
          Document: '#/components/schemas/Document'
          Chapter: '#/components/schemas/Chapter'
          Page: '#/components/schemas/Page'
          WebPage: '#/components/schemas/WebPage'
          Frame: '#/components/schemas/Frame'
          Questionnaire: '#/components/schemas/Questionnaire'
          QuestionnaireItem: '#/components/schemas/QuestionnaireItem'
    AllScales:
      oneOf:
        - $ref: '#/components/schemas/LikertScale'
        - $ref: '#/components/schemas/MultiselectScale'
        - $ref: '#/components/schemas/NumericScale'
      discriminator:
        propertyName: type
        mapping:
          LikertScale: '#/components/schemas/LikertScale'
          MultiselectScale: '#/components/schemas/MultiselectScale'
          NumericScale: '#/components/schemas/NumericScale'
    AllResponses:
      oneOf:
        - $ref: '#/components/schemas/Response'
        - $ref: '#/components/schemas/DateTimeResponse'
        - $ref: '#/components/schemas/FillinBlankResponse'
        - $ref: '#/components/schemas/MultipleChoiceResponse'
        - $ref: '#/components/schemas/MultipleResponseResponse'
        - $ref: '#/components/schemas/MultiSelectResponse'
        - $ref: '#/components/schemas/OpenEndedResponse'
        - $ref: '#/components/schemas/RatingScaleResponse'
        - $ref: '#/components/schemas/SelectTextResponse'
        - $ref: '#/components/schemas/TrueFalseResponse'
      discriminator:
        propertyName: type
        mapping:
          Response: '#/components/schemas/Response'
          DateTimeResponse: '#/components/schemas/DateTimeResponse'
          FillinBlankResponse: '#/components/schemas/FillinBlankResponse'
          MultipleChoiceResponse: '#/components/schemas/MultipleChoiceResponse'
          MultipleResponseResponse: '#/components/schemas/MultipleResponseResponse'
          MultiSelectResponse: '#/components/schemas/MultiSelectResponse'
          OpenEndedResponse: '#/components/schemas/OpenEndedResponse'
          RatingScaleResponse: '#/components/schemas/RatingScaleResponse'
          SelectTextResponse: '#/components/schemas/SelectTextResponse'
          TrueFalseResponse: '#/components/schemas/TrueFalseResponse'
    AggregateMeasure:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: AggregateMeasure
          description: The type of this entity. Must be set to 'AggregateMeasure'
          example: AggregateMeasure
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: &ref_4
            customField: customValue
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        metricValue:
          type: number
          description: >-
            A decimal value representing the total curricular progress the actor
            has made in the context of the application.
          example: 42
        maxMetricValue:
          type: number
          description: >-
            A decimal value representing the maximum possible value for the
            metric in this context.
          example: 100
        metric:
          type: string
          description: The type of metric being measured
          example: MinutesOnTask
        startedAtTime:
          type: string
          format: date-time
          description: The date and time when the metric aggregation started
          example: '2023-08-15T14:12:00.000Z'
        endedAtTime:
          type: string
          format: date-time
          description: The date and time when the metric aggregation was completed
          example: '2023-08-15T14:12:00.000Z'
      required:
        - '@context'
        - id
        - type
        - metricValue
        - metric
      additionalProperties: false
    AggregateMeasureCollection:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: AggregateMeasureCollection
          description: The type of this entity. Must be set to 'AggregateMeasureCollection'
          example: AggregateMeasureCollection
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        items:
          type: array
          items:
            type:
              - string
              - object
          description: The collection of aggregate measures
          example:
            - https://example.edu/measures/001
            - https://example.edu/measures/002
            - type: AggregateMeasure
              id: https://example.edu/measures/003
              metric: MinutesOnTask
              metricValue: 42
              maxMetricValue: 100
              startedAtTime: '2023-08-15T14:12:00.000Z'
              endedAtTime: '2023-08-15T14:12:00.000Z'
      required:
        - '@context'
        - id
        - type
        - items
      additionalProperties: false
      description: A collection of AggregateMeasure entities
    Assessment:
      type: object
      properties:
        type:
          type: string
          const: Assessment
          description: The type of the digital resource
          example: Assessment
        items:
          type: array
          items:
            type:
              - string
              - object
          description: >-
            The items of the assessment. See
            [@AssessmentItem](#model/assessmentitem)
          example:
            - type: AssessmentItem
              id: '123'
              name: Assessment Item 1
      required:
        - type
      description: |-
        # Assessment

        Represents an assessment such as a quiz or test
    AssessmentItem:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: AssessmentItem
          description: The type of the digital resource
          example: AssessmentItem
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: &ref_5
              - string
              - object
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: &ref_6
            - https://example.edu/users/223344
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: &ref_7
            - lecture
            - introduction
        learningObjectives:
          type: array
          items:
            type: &ref_8
              - string
              - object
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: &ref_9
            - https://example.edu/objectives/1234
        isPartOf:
          type: &ref_10
            - string
            - object
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        dateToActivate:
          type: string
          format: date-time
          description: The datetime when this was activated
          example: '2023-08-15T14:00:00.000Z'
        dateToShow:
          type: string
          format: date-time
          description: ' describes when the resource should be shown or made available to learners'
          example: '2023-08-15T14:00:00.000Z'
        dateToStartOn:
          type: string
          format: date-time
          description: The datetime when this resource becomes available to learners
          example: '2023-08-15T14:00:00.000Z'
        dateToSubmit:
          type: string
          format: date-time
          description: The datetime when this resource is due
          example: '2023-08-22T23:59:59.000Z'
        maxAttempts:
          type: number
          description: >-
            A non-negative integer that designates the number of permitted
            attempts.
          example: 3
        maxSubmits:
          type: number
          description: >-
            A non-negative integer that designates the number of permitted
            submissions.
          example: 3
        maxScore:
          type: number
          description: The maximum possible score for this assignable resource
          example: 100
        isTimeDependent:
          type: boolean
          description: "\tA boolean value indicating whether or not interacting with the item is time dependent."
          example: false
      required:
        - '@context'
        - id
        - type
      additionalProperties: false
      description: |-
        # AssessmentItem

        Represents an assessment item such as a question or assignment
    AllAssignableDigitalResources:
      oneOf:
        - $ref: '#/components/schemas/AssignableDigitalResource'
        - $ref: '#/components/schemas/Assessment'
        - $ref: '#/components/schemas/AssessmentItem'
      discriminator:
        propertyName: type
        mapping:
          AssignableDigitalResource: '#/components/schemas/AssignableDigitalResource'
          Assessment: '#/components/schemas/Assessment'
          AssessmentItem: '#/components/schemas/AssessmentItem'
    Attempt:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Attempt
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        assignee:
          type:
            - string
            - object
          description: The person that is assigned to the response
          example: https://example.edu/users/554433
        assignable:
          type:
            - string
            - object
          description: 'The DigitalResource that constitutes the object of the assignment. '
          example: https://example.edu/terms/201801/courses/7/sections/1/assignments/1
        count:
          type: number
          description: >-
            The total number of attempts inclusive of the current attempt that
            have been registered against the assigned DigitalResource.
          example: 1
        startedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was started
          example: '2021-01-01T00:00:00Z'
        endedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was ended
          example: '2021-01-01T00:00:00Z'
        duration:
          type: string
          format: duration
          description: The duration of the attempt in seconds
          example: PT50M30S
      required:
        - '@context'
        - id
        - type
      description: >-
        # Attempt


        A Caliper Attempt provides a count of the number of times an actor has
        interacted with a DigitalResource along with start time, 

        end time and duration information. An Attempt is generated as the result
        of an action such as starting an Assessment or Questionnaire.
    AudioObject:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: AudioObject
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        duration:
          type: string
          format: duration
          description: >-
            An optional time interval that represents the total time required to
            view and/or listen to the MediaObject at normal speed. If a duration
            is specified the value MUST conform to the ISO 8601 duration format.
          example: PT1H17M50S
        volumeLevel:
          type: string
          description: A string value indicating the current volume level.
          example: 50%
        volumeMin:
          type: string
          description: A string value indicating the minimum volume level permitted.
          example: 50%
        volumeMax:
          type: string
          description: A string value indicating the maximum volume level permitted.
          example: 50%
        muted:
          type: boolean
          description: A boolean value indicating whether the audio is muted.
          example: true
      required:
        - '@context'
        - id
        - type
      description: |-
        # AudioObject

        Represents an audio object
    BookmarkAnnotation:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: BookmarkAnnotation
          description: The type of this entity. Must be set to 'BookmarkAnnotation'
          example: BookmarkAnnotation
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        annotator:
          type: &ref_14
            - string
            - object
          description: The person that made the annotation
          example: https://example.edu/users/554433
        annotated:
          type: &ref_15
            - string
            - object
        bookmarkNotes:
          type: string
          description: Notes about the bookmark
          example: Remember to review this section
      required:
        - '@context'
        - id
        - type
        - annotator
        - annotated
      description: >-
        # BookmarkAnnotation


        A bookmark annotation represents the act of marking a DigitalResource at
        a particular location.
    Chapter:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Chapter
          description: The type of this entity. Must be set to 'Chapter'
          example: Chapter
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
      required:
        - '@context'
        - id
        - type
      description: |-
        # Chapter

        Represents a major sub-division of a larger work such as a book
    Collection:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Collection
          description: The type of this entity. Must be set to 'Collection'
          example: Collection
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        items:
          type: array
          items:
            type:
              - string
              - object
            description: An ordered collection of items that comprise the collection
            example:
              - https://example.edu/items/1
              - https://example.edu/items/2
              - https://example.edu/items/3
          description: An ordered collection of items that comprise the collection
          example:
            - https://example.edu/items/1
            - https://example.edu/items/2
            - https://example.edu/items/3
      required:
        - '@context'
        - id
        - type
        - items
      additionalProperties: false
      description: Represents an ordered collection of items
    Comment:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Comment
          description: The type of this entity. Must be set to 'Comment'
          example: Comment
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        commenter:
          type:
            - string
            - object
          description: The person who provided the comment
          example: https://example.edu/users/554433
        commentedOn:
          type:
            - string
            - object
          description: The Entity which received the comment
          example: >-
            https://example.edu/terms/201801/courses/7/sections/1/resources/1/syllabus.pdf
        value:
          type: string
          description: A string value representing the comment's textual value.
          example: This is a comment
      required:
        - '@context'
        - id
        - type
      description: |-
        # Comment

        Represents a comment on an entity
    CourseOffering:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this organization. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/organization/554433
        type:
          type: string
          const: CourseOffering
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        subOrganizationOf:
          type:
            - string
            - object
          description: The parent Organization of this Organization
          example: https://example.edu/organizations/schools/law
        members:
          type: array
          items:
            type: &ref_11
              - string
              - object
          description: The members of this Organization
          example: &ref_12
            - https://example.edu/users/554433
        courseNumber:
          type: string
          description: >-
            A string value that constitutes a human-readable identifier for the
            CourseOffering.
          example: CPS 435-01
        academicSession:
          type: string
          description: The academic session of the offering
          example: Fall 2016
      required:
        - '@context'
        - id
        - type
      additionalProperties: false
      description: |-
        # CourseOffering

        A CourseOffering is a specific instance of a Course
      example:
        '@context': http://purl.imsglobal.org/ctx/caliper/v1p2
        id: https://example.edu/terms/201601/courses/7
        type: CourseOffering
        courseNumber: CPS 435
        academicSession: Fall 2016
        name: CPS 435 Learning Analytics
        otherIdentifiers:
          - type: SystemIdentifier
            identifier: example.edu:SI182-F16
            identifierType: LisSourcedId
        dateCreated: '2016-08-01T06:00:00.000Z'
        dateModified: '2016-09-02T11:30:00.000Z'
    CourseSection:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this organization. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/organization/554433
        type:
          type: string
          const: CourseSection
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        subOrganizationOf:
          type:
            - string
            - object
          description: The parent Organization of this Organization
          example: https://example.edu/organizations/schools/law
        members:
          type: array
          items:
            type: *ref_11
          description: The members of this Organization
          example: *ref_12
        courseNumber:
          type: string
          description: >-
            A string value that constitutes a human-readable identifier for the
            CourseOffering.
          example: CPS 435-01
        academicSession:
          type: string
          description: The academic session of the offering
          example: Fall 2016
        category:
          type: string
          description: >-
            A string value that characterizes the purpose of the section such as
            lecture, lab or seminar.
          example: seminar
      required:
        - '@context'
        - id
        - type
      additionalProperties: false
      description: |-
        # CourseSection

        A CourseSection is a specific instance of a CourseOffering
      example:
        '@context': http://purl.imsglobal.org/ctx/caliper/v1p2
        id: https://example.edu/terms/201601/courses/7/sections/1
        type: CourseSection
        academicSession: Fall 2016
        courseNumber: CPS 435-01
        name: CPS 435 Learning Analytics, Section 01
        otherIdentifiers:
          - type: SystemIdentifier
            identifier: example.edu:SI182-001-F16
            identifierType: LisSourcedId
        category: seminar
        subOrganizationOf:
          id: https://example.edu/terms/201601/courses/7
          type: CourseOffering
          courseNumber: CPS 435
        dateCreated: '2016-08-01T06:00:00.000Z'
    DateTimeResponse:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: DateTimeResponse
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        attempt:
          type: &ref_13
            - string
            - object
          description: The attempt that the response belongs to
          example: https://example.edu/attempts/1234
        startedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was started
          example: '2021-01-01T00:00:00Z'
        endedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was ended
          example: '2021-01-01T00:00:00Z'
        duration:
          type: string
          format: duration
          description: The duration of the attempt in seconds
          example: PT50M30S
        dateTimeSelected:
          type: string
          format: date-time
          description: The DateTime selected in response to the question.
          example: '2021-01-01T00:00:00Z'
      required:
        - '@context'
        - id
        - type
      description: A response to a datetime question
    DigitalResourceCollection:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: DigitalResourceCollection
          description: The type of this entity. Must be set to 'DigitalResourceCollection'
          example: DigitalResourceCollection
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        items:
          type: array
          items:
            type:
              - string
              - object
          description: An ordered collection of DigitalResource entities
          example:
            - https://example.edu/resources/1
            - https://example.edu/resources/2
      required:
        - '@context'
        - id
        - type
      description: |-
        # DigitalResourceCollection

        Represents a collection of digital resources
    Document:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Document
          description: The type of this entity. Must be set to 'Document'
          example: Document
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
      required:
        - '@context'
        - id
        - type
      description: |-
        # Document

        Represents a written work in digital form
    FillinBlankResponse:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: FillinBlankResponse
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        attempt:
          type: *ref_13
          description: The attempt that the response belongs to
          example: https://example.edu/attempts/1234
        startedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was started
          example: '2021-01-01T00:00:00Z'
        endedAtTime:
          type: string
          format: date-time
          description: The date and time the attempt was ended
          example: '2021-01-01T00:00:00Z'
        duration:
          type: string
          format: duration
          description: The duration of the attempt in seconds
          example: PT50M30S
        values:
          type: array
          items:
            type: string
          description: >-
            An ordered collection of one or more string values representing
            words, expressions or short phrases that constitute the "fill in the
            blank" response.
          example:
            - The answer is 42
      required:
        - '@context'
        - id
        - type
      description: A response to a fill in the blank question
    Forum:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Forum
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        items:
          type: array
          items:
            type:
              - string
              - object
          description: An ordered collection of Thread entities.
          example:
            - id: >-
                https://example.edu/terms/201601/courses/7/sections/1/forums/1/topics/1
              type: Thread
              name: Caliper Information Model
              dateCreated: '2016-11-01T09:30:00.000Z'
            - id: >-
                https://example.edu/terms/201601/courses/7/sections/1/forums/1/topics/2
              type: Thread
              name: Caliper Sensor API
              dateCreated: '2016-11-01T09:30:00.000Z'
            - id: >-
                https://example.edu/terms/201601/courses/7/sections/1/forums/1/topics/3
              type: Thread
              name: Caliper Certification
              dateCreated: '2016-11-01T09:30:00.000Z'
      required:
        - '@context'
        - id
        - type
      description: >-
        # Forum


        A Caliper Forum represents a channel or virtual space in which group
        discussions take place. 

        A Forum typically comprises one or more threaded conversations to which
        members can subscribe, post messages and reply to other messages.
    Frame:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: Frame
          description: The type of this entity. Must be set to 'Frame'
          example: Frame
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        index:
          type: number
          description: The position of this frame within its parent digital resource
          example: 1
      required:
        - '@context'
        - id
        - type
      description: >-
        # Frame


        A Caliper Frame represents a part, portion or segment of a
        DigitalResource, such as a book chapter or video segment
    Group:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this organization. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/organization/554433
        type:
          type: string
          const: Group
          description: The type of this agent. Must be set to 'Organization'
          example: Group
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        subOrganizationOf:
          type:
            - string
            - object
          description: The parent Organization of this Organization
          example: https://example.edu/organizations/schools/law
        members:
          type: array
          items:
            type: *ref_11
          description: The members of this Organization
          example: *ref_12
      required:
        - '@context'
        - id
        - type
      additionalProperties: false
      description: |-
        # Group

        Represents a group such as a company, school, or other organization
    HighlightAnnotation:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: HighlightAnnotation
          description: The type of this entity. Must be set to 'HighlightAnnotation'
          example: HighlightAnnotation
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        annotator:
          type: *ref_14
          description: The person that made the annotation
          example: https://example.edu/users/554433
        annotated:
          type: *ref_15
        selection:
          $ref: '#/components/schemas/TextPositionSelector'
          description: The text selection that was highlighted with start and end positions
        selectionText:
          type: string
          description: The text that was highlighted
          example: The quick brown fox jumps over the lazy dog
      required:
        - '@context'
        - id
        - type
        - annotator
        - annotated
      description: >-
        # HighlightAnnotation


        represents the act of marking a particular segment of a DigitalResource
        between two known coordinates.
    ImageObject:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: ImageObject
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        storageName:
          type: string
          description: The name of resource when stored in a file system
          example: lecture-01.pdf
        creators:
          type: array
          items:
            type: *ref_5
          description: >-
            An ordered collection of Agent entities responsible for bringing
            resource into being
          example: *ref_6
        mediaType:
          type: string
          description: The media type of the resource from IANA approved media types
          example: application/pdf
        keywords:
          type: array
          items:
            type: string
          description: >-
            An array of keywords or tags used to define or categorize the
            resource
          example: *ref_7
        learningObjectives:
          type: array
          items:
            type: *ref_8
          description: >-
            An array of learning objectives associated with this resource. See
            [@LearningObjective](#model/learningobjective)
          example: *ref_9
        isPartOf:
          type: *ref_10
          description: The parent resource of which this resource is a part
          example: https://example.edu/courses/biology/101/resources
        datePublished:
          type: string
          format: date-time
          description: The date and time at which the resource was published
          example: '2023-08-15T14:12:00.000Z'
        version:
          type: string
          description: >-
            A string value that designates the current form or version of the
            resource
          example: 1.0.0
        duration:
          type: string
          format: duration
          description: >-
            An optional time interval that represents the total time required to
            view and/or listen to the MediaObject at normal speed. If a duration
            is specified the value MUST conform to the ISO 8601 duration format.
          example: PT1H17M50S
      required:
        - '@context'
        - id
        - type
      description: |-
        # ImageObject

        Represents an image object
    LearningObjective:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: LearningObjective
          description: The type of this entity. Must be set to 'LearningObjective'
          example: LearningObjective
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
      required:
        - '@context'
        - id
        - type
      description: |-
        # LearningObjective

        Represents a statement of what a learner should know or be able to do
    LikertScale:
      type: object
      properties:
        '@context':
          type: string
          format: uri
          default: http://purl.imsglobal.org/ctx/caliper/v1p2
          description: The context of the Caliper entity data
          example: http://purl.imsglobal.org/ctx/caliper/v1p2
        id:
          type: string
          format: uri
          description: >-
            The unique identifier for this entity. Must be a valid IRI and
            should be dereferenceable
          example: https://example.edu/entity/554433
        type:
          type: string
          const: LikertScale
          description: The type of scale, must be LikertScale
          example: LikertScale
        name:
          type: string
          description: A word or phrase by which the entity is known
          example: John Doe
        description:
          type: string
          description: A brief, written representation of the entity
          example: A student at Example University
        dateCreated:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was created
          example: '2023-08-15T14:12:00.000Z'
        dateModified:
          type: string
          format: date-time
          description: ISO 8601 datetime when this entity was last modified
          example: '2023-08-15T14:12:00.000Z'
        extensions:
          type: object
          additionalProperties: {}
          description: Additional attributes not defined by the model
          example: *ref_4
        otherIdentifiers:
          type: array
          items:
            type:
              - string
              - object
        scalePoints:
          type: number
          description: >-
            A integer value used to determine the amount of points on the
            LikertScale.
          example: 5
        itemLabels:
          type: array
          items:
            type: string
          description: >-
            The ordered list of labels for each point on the scale. The values
            MUST be cast as strings.
          example:
            - Strongly disagree
            - Disagree
            - Neutral
            - Agree
            - Strongly agree
        itemValues:
          type: array
          items:
            type: string
[...]
