openapi: 3.1.0
info:
  title: QTI API
  version: 1.0.0
  description: A robust assessment engine implementing the QTI 3.0 specification,
    designed for creating, managing, and delivering educational assessments.
servers:
  - url: https://qti.alpha-1edtech.ai/api
    description: Main Server
security:
  - OAuth2: []
  - MCP: []
tags:
  - name: Validation
    description: Validate XML strings against QTI compliant XSD files. XSD version
      supported is 3.0.0 (3p0)
  - name: Feedback
    description: Feedback for questions and lessons
  - name: Assessment Test Management
    description: Enables the management of Assessment Tests. Assessment Tests are
      the main entities that contain Assessment Test Parts, Sections, and
      Assessment Items.
  - name: Test Part Management
    description: Enables the management of Test Parts. Assessment Test Parts are
      used to group sections inside of an Assessment Test.
  - name: Section Management
    description: Enables the management of Sections. Assessment Sections are used to
      group Assessment Items.
  - name: Assessment Item Management
    description: Enables the management of Assessment ITems. Assessment Items are
      made up of QTI Interactions (e.g. questions, multiple choice, etc.).
  - name: Stimulus Management
    description: Enables the management of Stimuli. Stimuli are shared content
      pieces (text, images, audio, video) that provide context for assessment
      items and can be referenced by multiple questions.
paths:
  /stimuli:
    get:
      operationId: searchStimuli
      summary: Search and filter stimuli
      description: Get all stimuli on the service provider. Search with advanced
        filtering capabilities. Supports text search across titles and
        identifiers, sorting, and pagination.
      tags: &a1
        - Stimulus Management
      parameters:
        - in: query
          name: query
          description: Search title and identifier fields using a search term. This is a
            fuzzy search.
          schema:
            type: string
            description: Search title and identifier fields using a search term. This is a
              fuzzy search.
        - in: query
          name: page
          description: Page number for pagination
          schema:
            type: string
            default: "1"
            description: Page number for pagination
            example: 1
        - in: query
          name: limit
          description: Number of items per page
          schema:
            type: string
            default: "10"
            description: Number of items per page
            example: 10
        - in: query
          name: sort
          description: Field to sort by
          schema:
            type: string
            enum: &a17
              - title
              - identifier
              - createdAt
              - updatedAt
            description: Field to sort by
            example: createdAt
        - in: query
          name: order
          description: Sort order
          schema:
            type: string
            enum: &a2
              - asc
              - desc
            default: desc
            description: Sort order
            example: desc
      responses:
        "200":
          description: Successfully retrieved stimuli
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        identifier:
                          type: string
                          description: Unique identifier for the entity on the service provider.
                        title:
                          type: string
                          description: Human-readable title of the entity on the service provider.
                        catalogInfo:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Catalog entry identifier (must be valid XML NCName). The unique
                                  identifier used to locate the catalog from a
                                  data-catalog-idref.
                              support:
                                type: string
                                description: This attribute names either pre-defined supports or a custom-named
                                  support. The named support will indicate for
                                  whom the dormant content is intended. Use only
                                  one card for any particular named support in a
                                  catalog
                              content:
                                type: string
                                description: A data structure within a catalog which contains dormant HTML
                                  content or a resource reference for a specific
                                  support/feature. A card may also contain
                                  multiple CardEntry containers. For example,
                                  you might have multiple CardEntry nodes for
                                  different language versions of a particular
                                  support.
                            required:
                              - id
                              - support
                              - content
                          description: Array of catalog cards.
                        label:
                          type: string
                          description: A human readable label that can be used to describe the Stimulus.
                        language:
                          type: string
                          description: The default language for the Stimulus.
                          default: en
                        stylesheet:
                          type: object
                          properties:
                            href:
                              type: string
                              description: The identifier or location of the external stylesheet.
                            type:
                              type: string
                              description: The type of the external stylesheet.
                          required:
                            - href
                            - type
                          description: The set of external style sheets that are associated with the
                            Stimulus. The order of definition is significant.
                        toolName:
                          type: string
                          description: The tool name characteristic allows the tool creating the stimulus
                            to identify itself. Other processing systems may use
                            this information to interpret the content of
                            application specific data, such as labels on the
                            elements of the stimulus's stimulus body.
                        toolVersion:
                          type: string
                          description: The tool version characteristic allows the tool creating the item
                            to identify its version. This value must only be
                            interpreted in the context of the tool-name.
                        metadata:
                          type: object
                          additionalProperties: {}
                          description: Additional custom metadata for extending entity properties beyond
                            standard specification for QTI entities.
                        rawXml:
                          type: string
                          description: Raw XML representation of the entity, automatically generated from
                            the JSON or XML sent when creating entities on the
                            service provider. The rawxml field will contain all
                            content sent when creating the entity on the service
                            provider. This field is stable and should be used
                            when working within this QTI API.
                        content:
                          type: object
                          properties:
                            qti-assessment-stimulus:
                              type: object
                              properties:
                                _attributes:
                                  type: object
                                  properties:
                                    xmlns:
                                      type: string
                                    xmlns:xsi:
                                      type: string
                                    xsi:schemaLocation:
                                      type: string
                                    identifier:
                                      type: string
                                    xml:lang:
                                      type: string
                                    title:
                                      type: string
                                  required:
                                    - xmlns
                                    - xmlns:xsi
                                    - xsi:schemaLocation
                                    - identifier
                                    - xml:lang
                                    - title
                                qti-stimulus-body:
                                  type: object
                                  additionalProperties: true
                                qti-stylesheet:
                                  type: object
                                  properties:
                                    _attributes:
                                      type: object
                                      properties:
                                        href:
                                          type: string
                                        type:
                                          type: string
                                      required:
                                        - href
                                        - type
                                  required:
                                    - _attributes
                                qti-catalog-info:
                                  type: object
                                  properties:
                                    qti-catalog:
                                      type: object
                                      properties:
                                        _attributes:
                                          type: object
                                          properties:
                                            id:
                                              type: string
                                          required:
                                            - id
                                        qti-card:
                                          type: object
                                          properties:
                                            _attributes:
                                              type: object
                                              properties:
                                                support:
                                                  type: string
                                              required:
                                                - support
                                            qti-html-content:
                                              type: object
                                              additionalProperties: true
                                          required:
                                            - _attributes
                                            - qti-html-content
                                      required:
                                        - _attributes
                                        - qti-card
                                  required:
                                    - qti-catalog
                              required:
                                - _attributes
                                - qti-stimulus-body
                          required:
                            - qti-assessment-stimulus
                          description: Parsed XML content generated by the service provider. For
                            production use, rawXml is recommended over this
                            parsed structure.
                        createdAt:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when the entity was created
                        updatedAt:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when the entity was last updated
                        __v:
                          type: number
                          description: MongoDB version key for optimistic concurrency control
                      required:
                        - identifier
                        - title
                        - catalogInfo
                        - rawXml
                        - content
                        - createdAt
                        - updatedAt
                      description: Complete stimulus data structure returned from the database
                        including parsed content and metadata
                    description: The items array will contain all stimuli that match the search
                      criteria on the service provider.
                  total:
                    type: number
                    description: The total number of entities that match the search criteria.
                  page:
                    type: number
                    description: The page number of the entities that match the search criteria.
                    default: 1
                  pages:
                    type: number
                    description: The total number of pages of entities that match the search
                      criteria.
                  limit:
                    type: number
                    description: The number of entities per page.
                    default: 10
                  sort:
                    type: string
                    description: The field to sort the entities by.
                  order:
                    type: string
                    enum: &a6
                      - asc
                      - desc
                    description: The order to sort the entities by. Either 'asc' or 'desc'.
                required:
                  - items
                  - total
                  - page
                  - pages
                  - limit
                  - sort
                  - order
                description: Paginated response containing all stimuli that match the search
                  criteria with navigation metadata
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
    post:
      operationId: createStimulus
      summary: Create a new stimulus
      description: Create a new Stimulus on the service provider. Stimuli can be
        referenced by Assessment Items.
      tags: *a1
      requestBody:
        description: The stimulus content to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Stimulus"
            examples:
              json-example:
                summary: JSON - Forest Ecosystem Stimulus Example
                value:
                  format: json
                  identifier: stimulus-science-ecosystems
                  title: Forest Ecosystem Reading Passage
                  content: "

                    \    <div class=\"stimulus-content\">

                    \      <h2>Forest Ecosystems</h2>

                    \      <p>A forest ecosystem is a complex community of
                    plants, animals, and microorganisms that interact with each
                    other and their physical environment. These ecosystems play
                    crucial roles in maintaining environmental balance and
                    supporting biodiversity.</p>

                    \      <h3>Layers of the Forest</h3>

                    \      <p><strong>Canopy Layer:</strong> The uppermost layer
                    formed by the crowns of tall trees. This layer receives the
                    most sunlight and is home to many birds, insects, and
                    mammals.</p>

                    \      <p><strong>Understory:</strong> Below the canopy,
                    this layer consists of smaller trees and shrubs that can
                    tolerate lower light conditions. Many flowering plants and
                    young trees grow here.</p>

                    \      <p><strong>Forest Floor:</strong> The ground level
                    where decomposition occurs. Fallen leaves, branches, and
                    other organic matter break down, providing nutrients for
                    plant growth.</p>

                    \      <h3>Ecological Relationships</h3>

                    \      <p>Forest ecosystems demonstrate various ecological
                    relationships:</p>

                    \      <ul>

                    \        <li><em>Producers:</em> Trees and plants that make
                    their own food through photosynthesis</li>

                    \        <li><em>Primary Consumers:</em> Herbivores that eat
                    plants, such as deer and rabbits</li>

                    \        <li><em>Secondary Consumers:</em> Carnivores that
                    eat herbivores, such as foxes and hawks</li>

                    \        <li><em>Decomposers:</em> Organisms like fungi and
                    bacteria that break down dead material</li>

                    \      </ul>

                    \    </div>

                    \  "
                  metadata:
                    subject: Science
                    grade: "7"
                    standard: Life Science
                    lesson: Ecosystems and Biodiversity
                    difficulty: medium
              xml-example:
                summary: XML - Forest Ecosystem Stimulus Example
                value:
                  format: xml
                  xml: >-
                    <?xml version="1.0" encoding="UTF-8"?>

                    <qti-assessment-stimulus
                      xmlns="http://www.imsglobal.org/xsd/imsqtiasi_v3p0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://www.imsglobal.org/xsd/imsqtiasi_v3p0 https://purl.imsglobal.org/spec/qti/v3p0/schema/xsd/imsqti_stimulusv3p0p1_v1p0.xsd"
                      identifier="stimulus-science-ecosystems"
                      xml:lang="en"
                      title="Forest Ecosystem Reading Passage">
                      <qti-stimulus-body>
                        <div class="stimulus-content">
                          <h2>Forest Ecosystems</h2>
                          <p>A forest ecosystem is a complex community of plants, animals, and microorganisms that interact with each other and their physical environment. These ecosystems play crucial roles in maintaining environmental balance and supporting biodiversity.</p>
                          
                          <h3>Layers of the Forest</h3>
                          <p><strong>Canopy Layer:</strong> The uppermost layer formed by the crowns of tall trees. This layer receives the most sunlight and is home to many birds, insects, and mammals.</p>
                          
                          <p><strong>Understory:</strong> Below the canopy, this layer consists of smaller trees and shrubs that can tolerate lower light conditions. Many flowering plants and young trees grow here.</p>
                          
                          <p><strong>Forest Floor:</strong> The ground level where decomposition occurs. Fallen leaves, branches, and other organic matter break down, providing nutrients for plant growth.</p>
                          
                          <h3>Ecological Relationships</h3>
                          <p>Forest ecosystems demonstrate various ecological relationships:</p>
                          <ul>
                            <li><em>Producers:</em> Trees and plants that make their own food through photosynthesis</li>
                            <li><em>Primary Consumers:</em> Herbivores that eat plants, such as deer and rabbits</li>
                            <li><em>Secondary Consumers:</em> Carnivores that eat herbivores, such as foxes and hawks</li>
                            <li><em>Decomposers:</em> Organisms like fungi and bacteria that break down dead material</li>
                          </ul>
                        </div>
                      </qti-stimulus-body>
                    </qti-assessment-stimulus>
                  metadata:
                    subject: Science
                    grade: "7"
                    standard: Life Science
                    lesson: Ecosystems and Biodiversity
                    difficulty: medium
      responses:
        "201":
          description: Stimulus created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                    description: Unique identifier for the entity on the service provider.
                  title:
                    type: string
                    description: Human-readable title of the entity on the service provider.
                  catalogInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Catalog entry identifier (must be valid XML NCName). The unique
                            identifier used to locate the catalog from a
                            data-catalog-idref.
                        support:
                          type: string
                          description: This attribute names either pre-defined supports or a custom-named
                            support. The named support will indicate for whom
                            the dormant content is intended. Use only one card
                            for any particular named support in a catalog
                        content:
                          type: string
                          description: A data structure within a catalog which contains dormant HTML
                            content or a resource reference for a specific
                            support/feature. A card may also contain multiple
                            CardEntry containers. For example, you might have
                            multiple CardEntry nodes for different language
                            versions of a particular support.
                      required:
                        - id
                        - support
                        - content
                    description: Array of catalog cards.
                  label:
                    type: string
                    description: A human readable label that can be used to describe the Stimulus.
                  language:
                    type: string
                    description: The default language for the Stimulus.
                    default: en
                  stylesheet:
                    type: object
                    properties:
                      href:
                        type: string
                        description: The identifier or location of the external stylesheet.
                      type:
                        type: string
                        description: The type of the external stylesheet.
                    required:
                      - href
                      - type
                    description: The set of external style sheets that are associated with the
                      Stimulus. The order of definition is significant.
                  toolName:
                    type: string
                    description: The tool name characteristic allows the tool creating the stimulus
                      to identify itself. Other processing systems may use this
                      information to interpret the content of application
                      specific data, such as labels on the elements of the
                      stimulus's stimulus body.
                  toolVersion:
                    type: string
                    description: The tool version characteristic allows the tool creating the item
                      to identify its version. This value must only be
                      interpreted in the context of the tool-name.
                  metadata:
                    type: object
                    additionalProperties: {}
                    description: Additional custom metadata for extending entity properties beyond
                      standard specification for QTI entities.
                  rawXml:
                    type: string
                    description: Raw XML representation of the entity, automatically generated from
                      the JSON or XML sent when creating entities on the service
                      provider. The rawxml field will contain all content sent
                      when creating the entity on the service provider. This
                      field is stable and should be used when working within
                      this QTI API.
                  content:
                    type: object
                    properties:
                      qti-assessment-stimulus:
                        type: object
                        properties:
                          _attributes:
                            type: object
                            properties:
                              xmlns:
                                type: string
                              xmlns:xsi:
                                type: string
                              xsi:schemaLocation:
                                type: string
                              identifier:
                                type: string
                              xml:lang:
                                type: string
                              title:
                                type: string
                            required:
                              - xmlns
                              - xmlns:xsi
                              - xsi:schemaLocation
                              - identifier
                              - xml:lang
                              - title
                          qti-stimulus-body:
                            type: object
                            additionalProperties: true
                          qti-stylesheet:
                            type: object
                            properties:
                              _attributes:
                                type: object
                                properties:
                                  href:
                                    type: string
                                  type:
                                    type: string
                                required:
                                  - href
                                  - type
                            required:
                              - _attributes
                          qti-catalog-info:
                            type: object
                            properties:
                              qti-catalog:
                                type: object
                                properties:
                                  _attributes:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                    required:
                                      - id
                                  qti-card:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          support:
                                            type: string
                                        required:
                                          - support
                                      qti-html-content:
                                        type: object
                                        additionalProperties: true
                                    required:
                                      - _attributes
                                      - qti-html-content
                                required:
                                  - _attributes
                                  - qti-card
                            required:
                              - qti-catalog
                        required:
                          - _attributes
                          - qti-stimulus-body
                    required:
                      - qti-assessment-stimulus
                    description: Parsed XML content generated by the service provider. For
                      production use, rawXml is recommended over this parsed
                      structure.
                  createdAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was created
                  updatedAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was last updated
                  __v:
                    type: number
                    description: MongoDB version key for optimistic concurrency control
                required:
                  - identifier
                  - title
                  - catalogInfo
                  - rawXml
                  - content
                  - createdAt
                  - updatedAt
                description: Complete stimulus data structure returned from the database
                  including parsed content and metadata
        "400":
          description: Invalid stimulus data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: string
                required:
                  - error
        "409":
          description: Stimulus with this identifier already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
  /stimuli/{identifier}:
    get:
      operationId: getStimulus
      summary: Get a stimulus with its complete content
      description: Get a specific Stimulus by identifier from the service provider.
        Stimuli can be referenced by Assessment Items to display relevant
        content to the learner.
      tags: *a1
      parameters:
        - name: identifier
          description: Stimulus identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved stimulus
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                    description: Unique identifier for the entity on the service provider.
                  title:
                    type: string
                    description: Human-readable title of the entity on the service provider.
                  catalogInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Catalog entry identifier (must be valid XML NCName). The unique
                            identifier used to locate the catalog from a
                            data-catalog-idref.
                        support:
                          type: string
                          description: This attribute names either pre-defined supports or a custom-named
                            support. The named support will indicate for whom
                            the dormant content is intended. Use only one card
                            for any particular named support in a catalog
                        content:
                          type: string
                          description: A data structure within a catalog which contains dormant HTML
                            content or a resource reference for a specific
                            support/feature. A card may also contain multiple
                            CardEntry containers. For example, you might have
                            multiple CardEntry nodes for different language
                            versions of a particular support.
                      required:
                        - id
                        - support
                        - content
                    description: Array of catalog cards.
                  label:
                    type: string
                    description: A human readable label that can be used to describe the Stimulus.
                  language:
                    type: string
                    description: The default language for the Stimulus.
                    default: en
                  stylesheet:
                    type: object
                    properties:
                      href:
                        type: string
                        description: The identifier or location of the external stylesheet.
                      type:
                        type: string
                        description: The type of the external stylesheet.
                    required:
                      - href
                      - type
                    description: The set of external style sheets that are associated with the
                      Stimulus. The order of definition is significant.
                  toolName:
                    type: string
                    description: The tool name characteristic allows the tool creating the stimulus
                      to identify itself. Other processing systems may use this
                      information to interpret the content of application
                      specific data, such as labels on the elements of the
                      stimulus's stimulus body.
                  toolVersion:
                    type: string
                    description: The tool version characteristic allows the tool creating the item
                      to identify its version. This value must only be
                      interpreted in the context of the tool-name.
                  metadata:
                    type: object
                    additionalProperties: {}
                    description: Additional custom metadata for extending entity properties beyond
                      standard specification for QTI entities.
                  rawXml:
                    type: string
                    description: Raw XML representation of the entity, automatically generated from
                      the JSON or XML sent when creating entities on the service
                      provider. The rawxml field will contain all content sent
                      when creating the entity on the service provider. This
                      field is stable and should be used when working within
                      this QTI API.
                  content:
                    type: object
                    properties:
                      qti-assessment-stimulus:
                        type: object
                        properties:
                          _attributes:
                            type: object
                            properties:
                              xmlns:
                                type: string
                              xmlns:xsi:
                                type: string
                              xsi:schemaLocation:
                                type: string
                              identifier:
                                type: string
                              xml:lang:
                                type: string
                              title:
                                type: string
                            required:
                              - xmlns
                              - xmlns:xsi
                              - xsi:schemaLocation
                              - identifier
                              - xml:lang
                              - title
                          qti-stimulus-body:
                            type: object
                            additionalProperties: true
                          qti-stylesheet:
                            type: object
                            properties:
                              _attributes:
                                type: object
                                properties:
                                  href:
                                    type: string
                                  type:
                                    type: string
                                required:
                                  - href
                                  - type
                            required:
                              - _attributes
                          qti-catalog-info:
                            type: object
                            properties:
                              qti-catalog:
                                type: object
                                properties:
                                  _attributes:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                    required:
                                      - id
                                  qti-card:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          support:
                                            type: string
                                        required:
                                          - support
                                      qti-html-content:
                                        type: object
                                        additionalProperties: true
                                    required:
                                      - _attributes
                                      - qti-html-content
                                required:
                                  - _attributes
                                  - qti-card
                            required:
                              - qti-catalog
                        required:
                          - _attributes
                          - qti-stimulus-body
                    required:
                      - qti-assessment-stimulus
                    description: Parsed XML content generated by the service provider. For
                      production use, rawXml is recommended over this parsed
                      structure.
                  createdAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was created
                  updatedAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was last updated
                  __v:
                    type: number
                    description: MongoDB version key for optimistic concurrency control
                required:
                  - identifier
                  - title
                  - catalogInfo
                  - rawXml
                  - content
                  - createdAt
                  - updatedAt
                description: Complete stimulus data structure returned from the database
                  including parsed content and metadata
        "404":
          description: Stimulus not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
    put:
      operationId: updateStimulus
      summary: Update a stimulus and its content
      description: Update a Stimulus on the service provider.
      tags: *a1
      parameters:
        - name: identifier
          description: Stimulus identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: The stimulus content to update.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Stimulus"
      responses:
        "200":
          description: Stimulus updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: string
                    description: Unique identifier for the entity on the service provider.
                  title:
                    type: string
                    description: Human-readable title of the entity on the service provider.
                  catalogInfo:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Catalog entry identifier (must be valid XML NCName). The unique
                            identifier used to locate the catalog from a
                            data-catalog-idref.
                        support:
                          type: string
                          description: This attribute names either pre-defined supports or a custom-named
                            support. The named support will indicate for whom
                            the dormant content is intended. Use only one card
                            for any particular named support in a catalog
                        content:
                          type: string
                          description: A data structure within a catalog which contains dormant HTML
                            content or a resource reference for a specific
                            support/feature. A card may also contain multiple
                            CardEntry containers. For example, you might have
                            multiple CardEntry nodes for different language
                            versions of a particular support.
                      required:
                        - id
                        - support
                        - content
                    description: Array of catalog cards.
                  label:
                    type: string
                    description: A human readable label that can be used to describe the Stimulus.
                  language:
                    type: string
                    description: The default language for the Stimulus.
                    default: en
                  stylesheet:
                    type: object
                    properties:
                      href:
                        type: string
                        description: The identifier or location of the external stylesheet.
                      type:
                        type: string
                        description: The type of the external stylesheet.
                    required:
                      - href
                      - type
                    description: The set of external style sheets that are associated with the
                      Stimulus. The order of definition is significant.
                  toolName:
                    type: string
                    description: The tool name characteristic allows the tool creating the stimulus
                      to identify itself. Other processing systems may use this
                      information to interpret the content of application
                      specific data, such as labels on the elements of the
                      stimulus's stimulus body.
                  toolVersion:
                    type: string
                    description: The tool version characteristic allows the tool creating the item
                      to identify its version. This value must only be
                      interpreted in the context of the tool-name.
                  metadata:
                    type: object
                    additionalProperties: {}
                    description: Additional custom metadata for extending entity properties beyond
                      standard specification for QTI entities.
                  rawXml:
                    type: string
                    description: Raw XML representation of the entity, automatically generated from
                      the JSON or XML sent when creating entities on the service
                      provider. The rawxml field will contain all content sent
                      when creating the entity on the service provider. This
                      field is stable and should be used when working within
                      this QTI API.
                  content:
                    type: object
                    properties:
                      qti-assessment-stimulus:
                        type: object
                        properties:
                          _attributes:
                            type: object
                            properties:
                              xmlns:
                                type: string
                              xmlns:xsi:
                                type: string
                              xsi:schemaLocation:
                                type: string
                              identifier:
                                type: string
                              xml:lang:
                                type: string
                              title:
                                type: string
                            required:
                              - xmlns
                              - xmlns:xsi
                              - xsi:schemaLocation
                              - identifier
                              - xml:lang
                              - title
                          qti-stimulus-body:
                            type: object
                            additionalProperties: true
                          qti-stylesheet:
                            type: object
                            properties:
                              _attributes:
                                type: object
                                properties:
                                  href:
                                    type: string
                                  type:
                                    type: string
                                required:
                                  - href
                                  - type
                            required:
                              - _attributes
                          qti-catalog-info:
                            type: object
                            properties:
                              qti-catalog:
                                type: object
                                properties:
                                  _attributes:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                    required:
                                      - id
                                  qti-card:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          support:
                                            type: string
                                        required:
                                          - support
                                      qti-html-content:
                                        type: object
                                        additionalProperties: true
                                    required:
                                      - _attributes
                                      - qti-html-content
                                required:
                                  - _attributes
                                  - qti-card
                            required:
                              - qti-catalog
                        required:
                          - _attributes
                          - qti-stimulus-body
                    required:
                      - qti-assessment-stimulus
                    description: Parsed XML content generated by the service provider. For
                      production use, rawXml is recommended over this parsed
                      structure.
                  createdAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was created
                  updatedAt:
                    type: string
                    format: date-time
                    description: ISO 8601 timestamp when the entity was last updated
                  __v:
                    type: number
                    description: MongoDB version key for optimistic concurrency control
                required:
                  - identifier
                  - title
                  - catalogInfo
                  - rawXml
                  - content
                  - createdAt
                  - updatedAt
                description: Complete stimulus data structure returned from the database
                  including parsed content and metadata
        "400":
          description: Invalid stimulus data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: string
                required:
                  - error
        "404":
          description: Stimulus not found or Failed to update Stimulus
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
    delete:
      operationId: deleteStimulus
      summary: Delete a stimulus
      description: "Permanently delete a stimulus. This operation cannot be undone.
        Warning: Assessment items that reference this stimulus may be affected.
        Consider checking for references before deletion."
      tags: *a1
      parameters:
        - name: identifier
          description: Stimulus identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
          content: {}
        "404":
          description: Stimulus not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
  /assessment-items:
    get:
      operationId: searchAssessmentItems
      summary: Search and filter assessment items
      description: Search and retrieve assessment items (questions) with advanced
        filtering capabilities. Supports text search across titles and
        identifiers, filtering by type, sorting, and pagination. Assessment
        items are the core content units that contain questions, answer choices,
        and scoring logic.
      tags: &a7
        - Assessment Item Management
      parameters:
        - in: query
          name: query
          description: Search title and identifier fields using a search term. This is a
            fuzzy search.
          schema:
            type: string
            description: Search title and identifier fields using a search term. This is a
              fuzzy search.
        - in: query
          name: page
          description: Page number for pagination
          schema:
            type: string
            default: "1"
            description: Page number for pagination
            example: 1
        - in: query
          name: limit
          description: Number of items per page
          schema:
            type: string
            default: "10"
            description: Number of items per page
            example: 10
        - in: query
          name: sort
          description: Field to sort by
          schema:
            type: string
            enum:
              - title
              - identifier
              - type
              - createdAt
              - updatedAt
            default: createdAt
            description: Field to sort by
            example: createdAt
        - in: query
          name: order
          description: Sort order
          schema:
            type: string
            enum: *a2
            default: desc
            description: Sort order
            example: desc
        - in: query
          name: filter
          description: "Advanced filter expression using =, !=, >, >=, <, <=, ~ and
            logical AND/OR. Example: type='choice'"
          schema:
            type: string
            description: "Advanced filter expression using =, !=, >, >=, <, <=, ~ and
              logical AND/OR. Example: type='choice'"
            example: type='choice'
      responses:
        "200":
          description: List of assessment items with pagination metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        identifier:
                          type: string
                          description: Unique identifier for the entity on the service provider.
                        title:
                          type: string
                          description: Human-readable title of the entity on the service provider.
                        type:
                          type: string
                          enum: &a10
                            - choice
                            - text-entry
                            - extended-text
                            - inline-choice
                            - match
                            - order
                            - associate
                            - select-point
                            - graphic-order
                            - graphic-associate
                            - graphic-gap-match
                            - hotspot
                            - hottext
                            - slider
                            - drawing
                            - media
                            - upload
                          description: Assessment item interaction types that are supported by the service
                            provider.
                        qtiVersion:
                          type: string
                          default: "3.0"
                          description: QTI version of the assessment item
                        timeDependent:
                          type: boolean
                          default: false
                          description: Indicates whether the candidate's response time affects the scoring
                            or outcome of this assessment item. When true,
                            timing data is used in response processing
                            calculations.
                        adaptive:
                          type: boolean
                          default: false
                          description: Indicates whether this assessment item adapts its presentation or
                            behavior based on the candidate's responses.
                            Adaptive items can modify their content, difficulty,
                            or available options during the assessment session.
                        responseDeclarations:
                          type: array
                          items:
                            type: object
                            properties:
                              identifier:
                                type: string
                                description: Unique identifier for this response variable within the item; must
                                  be distinct from other item variables and
                                  cannot use reserved names (completionStatus,
                                  numAttempts, duration).
                              cardinality:
                                type: string
                                enum: &a3
                                  - single
                                  - multiple
                                  - ordered
                                  - record
                                description: Specifies how many values the response variable can hold and
                                  whether order matters.
                              baseType:
                                type: string
                                enum: &a4
                                  - identifier
                                  - boolean
                                  - integer
                                  - float
                                  - string
                                  - point
                                  - pair
                                  - directedPair
                                  - duration
                                  - file
                                  - uri
                                description: Primitive data type for each answer stored in the variable (e.g.,
                                  integer, string, boolean). Omit when
                                  cardinality is 'record', because each field in
                                  a record may have its own type.
                              correctResponse:
                                type: object
                                properties:
                                  value:
                                    type: array
                                    items:
                                      type: string
                                required:
                                  - value
                                description: Optional model answer; must conform to the variable's cardinality
                                  (single = one value, multiple/ordered =
                                  ordered or unordered list); omit when no
                                  optimal answer exists (e.g., essays); delivery
                                  engines may display it as the solution in
                                  review mode.
                            required:
                              - identifier
                              - cardinality
                              - correctResponse
                        outcomeDeclarations:
                          type: array
                          items:
                            type: object
                            properties:
                              identifier:
                                type: string
                                description: Unique identifier for this response variable within the item; must
                                  be distinct from other item variables and
                                  cannot use reserved names (completionStatus,
                                  numAttempts, duration).
                              cardinality:
                                type: string
                                enum: *a3
                                description: Specifies how many values the response variable can hold and
                                  whether order matters.
                              baseType:
                                type: string
                                enum: *a4
                                description: Primitive data type for each answer stored in the variable (e.g.,
                                  integer, string, boolean). Omit when
                                  cardinality is 'record', because each field in
                                  a record may have its own type.
                            required:
                              - identifier
                              - cardinality
                        responseProcessing:
                          type: object
                          properties:
                            templateType:
                              type: string
                              enum: &a11
                                - match_correct
                                - map_response
                              description: Response processing template type. 'match_correct' compares the
                                candidate's response directly against the
                                correct response and assigns binary feedback.
                                'map_response' uses mapping rules to assign
                                scores and feedback based on response values.
                            responseDeclarationIdentifier:
                              type: string
                              description: Identifier of the response declaration that this response
                                processing rule applies to. Must match an
                                existing responseDeclaration identifier within
                                the same assessment item.
                            outcomeIdentifier:
                              type: string
                              description: Identifier of the outcome variable that will be set by this
                                response processing rule. Common values include
                                'SCORE' for numeric scoring or 'FEEDBACK' for
                                feedback identifiers.
                            correctResponseIdentifier:
                              type: string
                              description: Identifier value assigned to the outcome variable when the
                                candidate's response is evaluated as correct.
                                Used primarily with match_correct template type.
                            incorrectResponseIdentifier:
                              type: string
                              description: Identifier value assigned to the outcome variable when the
                                candidate's response is evaluated as incorrect.
                                Used primarily with match_correct template type.
                            inlineFeedback:
                              type: object
                              properties:
                                outcomeIdentifier:
                                  type: string
                                  description: Identifier of the outcome variable to be set with the inline
                                    feedback value.
                                variableIdentifier:
                                  type: string
                                  description: Identifier of the variable whose value will be assigned to the
                                    outcome variable during response processing.
                              required:
                                - outcomeIdentifier
                                - variableIdentifier
                              description: Optional inline feedback configuration that sets an outcome
                                variable based on another variable's value
                                during response processing.
                          required:
                            - templateType
                            - responseDeclarationIdentifier
                            - outcomeIdentifier
                            - correctResponseIdentifier
                            - incorrectResponseIdentifier
                          description: Response processing is the process by which the Delivery Engine
                            assigns outcomes based on the candidate's responses.
                            The outcomes may be used to provide feedback to the
                            candidate. Response processing must only take place
                            in direct response to a user action or in response
                            to some expected event, such as the end of a test.
                        metadata:
                          type: object
                          properties:
                            subject:
                              type: string
                              description: Subject area for the assessment item
                              example: Math
                            grade:
                              type: string
                              enum: &a12
                                - "-1"
                                - "0"
                                - "1"
                                - "2"
                                - "3"
                                - "4"
                                - "5"
                                - "6"
                                - "7"
                                - "8"
                                - "9"
                                - "10"
                                - "11"
                                - "12"
                                - "13"
                              description: Grade level for the assessment item. Must use a value from K-12
                              example: "10"
                            difficulty:
                              type: string
                              enum: &a13
                                - easy
                                - medium
                                - hard
                              description: Difficulty level of the assessment item
                              example: easy
                            learningObjectiveSet:
                              type: array
                              items:
                                type: object
                                properties:
                                  source:
                                    type: string
                                    description: The source of the learning objective set or learning standards.
                                    example: CASE
                                  learningObjectiveIds:
                                    type: array
                                    items:
                                      type: string
                                    description: Array of learning objective identifiers. If source is 'CASE', these
                                      can be the CFItem sourcedIds or CFItem's
                                      Human Coding Schema.
                                    example: &a14
                                      - D1.5.6-8
                                      - C2.6.7-8
                                      - E3.1.2-3
                                required:
                                  - source
                                  - learningObjectiveIds
                              description: Learning objectives associated with this assessment item
                              example: &a15
                                - source: CASE
                                  learningObjectiveIds:
                                    - id-123
                                    - id-456
                                    - id-789
                          additionalProperties: true
                          description: Additional custom metadata for assessment items with validation for
                            specific fields used by external applications
                        rawXml:
                          type: string
                          description: Raw XML representation of the entity, automatically generated from
                            the JSON or XML sent when creating entities on the
                            service provider. The rawxml field will contain all
                            content sent when creating the entity on the service
                            provider. This field is stable and should be used
                            when working within this QTI API.
                        content:
                          type: object
                          properties:
                            qti-assessment-item:
                              type: object
                              properties:
                                _attributes:
                                  type: object
                                  properties:
                                    xmlns:
                                      type: string
                                    xmlns:xsi:
                                      type: string
                                    xsi:schemaLocation:
                                      type: string
                                    identifier:
                                      type: string
                                    title:
                                      type: string
                                    adaptive:
                                      type: string
                                    time-dependent:
                                      type: string
                                  required:
                                    - xmlns
                                    - xmlns:xsi
                                    - xsi:schemaLocation
                                    - identifier
                                    - title
                                    - adaptive
                                    - time-dependent
                                qti-response-declaration:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          identifier:
                                            type: string
                                          cardinality:
                                            type: string
                                          baseType:
                                            type: string
                                        required:
                                          - identifier
                                          - cardinality
                                          - baseType
                                      qti-correct-response:
                                        type: object
                                        properties:
                                          qti-value:
                                            type: array
                                            items:
                                              type: string
                                        required:
                                          - qti-value
                                    required:
                                      - _attributes
                                      - qti-correct-response
                                qti-outcome-declaration:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          identifier:
                                            type: string
                                          cardinality:
                                            type: string
                                          baseType:
                                            type: string
                                        required:
                                          - identifier
                                          - cardinality
                                          - baseType
                                    required:
                                      - _attributes
                                qti-assessment-stimulus-ref:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      _attributes:
                                        type: object
                                        properties:
                                          identifier:
                                            type: string
                                          href:
                                            type: string
                                          title:
                                            type: string
                                        required:
                                          - identifier
                                          - href
                                          - title
                                    required:
                                      - _attributes
                                qti-item-body: {}
                                qti-response-processing: {}
                              required:
                                - _attributes
                                - qti-response-declaration
                                - qti-outcome-declaration
                          required:
                            - qti-assessment-item
                          description: Parsed XML content generated by the service provider. For
                            production use, rawXml is recommended over this
                            parsed structure.
                        modalFeedback:
                          type: array
                          items:
                            type: object
                            properties:
                              outcomeIdentifier:
                                type: string
                                description: Identifier of the outcome variable that controls when this feedback
                                  is displayed. The feedback is shown or hidden
                                  based on the value of this outcome variable
                                  after response processing.
                              identifier:
                                type: string
                                description: Unique identifier for this specific feedback element within the
                                  assessment item. Used to reference and control
                                  this particular piece of feedback.
                              showHide:
                                type: string
                                enum: &a5
                                  - show
                                  - hide
                                description: Determines the feedback visibility behavior. 'show' displays the
                                  feedback when the outcome variable matches the
                                  identifier, 'hide' conceals it when the
                                  outcome variable matches.
                              content:
                                type: string
                                description: The HTML or text content to be displayed as feedback to the
                                  candidate.
                              title:
                                type: string
                                description: Optional title displayed in the modal feedback dialog header. Only
                                  used with modal feedback presentations.
                            required:
                              - outcomeIdentifier
                              - identifier
                              - showHide
                              - content
                              - title
                          description: Modal feedback shown to candidates in popup dialogs immediately
                            following response processing. Cannot contain
                            interaction elements and is displayed based on
                            outcome variable values.
                        feedbackInline:
                          type: array
                          items:
                            type: object
                            properties:
                              outcomeIdentifier:
                                type: string
                                description: Identifier of the outcome variable that controls when this feedback
                                  is displayed. The feedback is shown or hidden
                                  based on the value of this outcome variable
                                  after response processing.
                              identifier:
                                type: string
                                description: Unique identifier for this specific feedback element within the
                                  assessment item. Used to reference and control
                                  this particular piece of feedback.
                              showHide:
                                type: string
                                enum: *a5
                                description: Determines the feedback visibility behavior. 'show' displays the
                                  feedback when the outcome variable matches the
                                  identifier, 'hide' conceals it when the
                                  outcome variable matches.
                              content:
                                type: string
                                description: The HTML or text content to be displayed as feedback to the
                                  candidate.
                              class:
                                type: array
                                items:
                                  type: string
                                description: CSS class names applied to the feedback element for styling
                                  purposes. Multiple classes can be specified
                                  for flexible presentation control.
                            required:
                              - outcomeIdentifier
                              - identifier
                              - showHide
                              - content
                              - class
                          description: Inline feedback embedded within interaction elements, displayed
                            alongside choices or input areas. Provides
                            contextual feedback.
                        feedbackBlock:
                          type: array
                          items:
                            type: object
                            properties:
                              outcomeIdentifier:
                                type: string
                                description: Identifier of the outcome variable that controls when this feedback
                                  is displayed. The feedback is shown or hidden
                                  based on the value of this outcome variable
                                  after response processing.
                              identifier:
                                type: string
                                description: Unique identifier for this specific feedback element within the
                                  assessment item. Used to reference and control
                                  this particular piece of feedback.
                              showHide:
                                type: string
                                enum: *a5
                                description: Determines the feedback visibility behavior. 'show' displays the
                                  feedback when the outcome variable matches the
                                  identifier, 'hide' conceals it when the
                                  outcome variable matches.
                              content:
                                type: string
                                description: The HTML or text content to be displayed as feedback to the
                                  candidate.
                              class:
                                type: array
                                items:
                                  type: string
                                description: CSS class names applied to the feedback element for styling
                                  purposes. Multiple classes can be specified
                                  for flexible presentation control.
                            required:
                              - outcomeIdentifier
                              - identifier
                              - showHide
                              - content
                              - class
                          description: Inline feedback embedded within interaction elements, displayed
                            alongside choices or input areas. Provides
                            contextual feedback.
                        createdAt:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when the entity was created
                        updatedAt:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when the entity was last updated
                        __v:
                          type: number
                          description: MongoDB version key for optimistic concurrency control
                      required:
                        - identifier
                        - title
                        - type
                        - qtiVersion
                        - timeDependent
                        - adaptive
                        - rawXml
                        - content
                        - createdAt
                        - updatedAt
                    description: Array of assessment items that match the search criteria
                  total:
                    type: number
                    description: The total number of entities that match the search criteria.
                  page:
                    type: number
                    description: The page number of the entities that match the search criteria.
                    default: 1
                  pages:
                    type: number
                    description: The total number of pages of entities that match the search
                      criteria.
                  limit:
                    type: number
                    description: The number of entities per page.
                    default: 10
                  sort:
                    type: string
                    description: The field to sort the entities by.
                  order:
                    type: string
                    enum: *a6
                    description: The order to sort the entities by. Either 'asc' or 'desc'.
                required:
                  - items
                  - total
                  - page
                  - pages
                  - limit
                  - sort
                  - order
                description: Paginated response containing all assessment items available on the
                  service provider with navigation metadata
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: High-level error message
                  code:
                    type: string
                    description: Machine code identifying error type
                  details:
                    type: string
                    description: Additional human details
                  meta:
                    type: object
                    properties:
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                              description: Parameter name
                            message:
                              type: string
                              description: Validation message
                            code:
                              type: string
                              description: Zod issue code
                          required:
                            - field
                            - message
                            - code
                        description: Array of individual validation errors
                      eventId:
                        type: string
                        description: Sentry event id
                    required:
                      - issues
                    description: Structured metadata from validation layer
                required:
                  - error
                  - code
                  - meta
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error type identifier
                  message:
                    type: string
                    description: Human-readable error message
                  eventId:
                    type: string
                    description: Sentry event ID for error tracking
                  details:
                    type: string
                    description: Stack trace or additional error details
                required:
                  - error
                  - message
                  - details
                description: Internal server error response
    post:
      operationId: createAssessmentItem
      summary: Create a new assessment item
      description: "Create a QTI 3.0 assessment item, preferably from XML. Send
        format: 'xml' with the XML string in the body; the XML is validated
        against IMS QTI XSDs and must conform to the standard. JSON creation is
        also supported but is experimental and may change."
      tags: *a7
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssessmentItem"
            examples: &a16
              xml-choice:
                summary: XML - Choice Example
                value:
                  format: xml
                  xml: >-
                    <?xml version="1.0" encoding="UTF-8"?>

                    <qti-assessment-item
                      xmlns="http://www.imsglobal.org/xsd/imsqtiasi_v3p0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://www.imsglobal.org/xsd/imsqtiasi_v3p0 https://purl.imsglobal.org/spec/qti/v3p0/schema/xsd/imsqti_asiv3p0_v1p0.xsd"
                      identifier="xml-choice-item-1"
                      title="Sample Choice Question"
                      adaptive="false"
                      time-dependent="false">

                      <qti-response-declaration identifier="RESPONSE" cardinality="single" base-type="identifier">
                        <qti-correct-response>
                          <qti-value>B</qti-value>
                        </qti-correct-response>
                      </qti-response-declaration>

                      <qti-outcome-declaration identifier="FEEDBACK" cardinality="single" base-type="identifier"/>
                      <qti-outcome-declaration identifier="FEEDBACK-INLINE" cardinality="single" base-type="identifier"/>

                      <qti-assessment-stimulus-ref identifier="Stimulus1" href="stimuli/Stimulus1" title="Math Context"/>
                      <qti-assessment-stimulus-ref identifier="Stimulus2" href="stimuli/Stimulus2" title="Additional Context"/>

                      <qti-item-body>
                        <qti-choice-interaction response-identifier="RESPONSE" shuffle="false" max-choices="1">
                          <qti-prompt>What is 2 + 2?</qti-prompt>
                          <qti-simple-choice identifier="A">
                            3
                            <qti-feedback-inline outcome-identifier="FEEDBACK-INLINE" identifier="A" show-hide="show">
                              <span style="color: #D9534F;">Incorrect: Try counting again.</span>
                            </qti-feedback-inline>
                          </qti-simple-choice>
                          <qti-simple-choice identifier="B">
                            4
                            <qti-feedback-inline outcome-identifier="FEEDBACK-INLINE" identifier="B" show-hide="show">
                              <span style="color: #2E8B57;">Correct: Well done!</span>
                            </qti-feedback-inline>
                          </qti-simple-choice>
                        </qti-choice-interaction>
                      </qti-item-body>

                      <qti-response-processing template="match_correct">
                        <qti-response-condition>
                          <qti-response-if>
                            <qti-match>
                              <qti-variable identifier="RESPONSE"/>
                              <qti-correct identifier="RESPONSE"/>
                            </qti-match>
                            <qti-set-outcome-value identifier="FEEDBACK">
                              <qti-base-value base-type="identifier">CORRECT</qti-base-value>
                            </qti-set-outcome-value>
                          </qti-response-if>
                          <qti-response-else>
                            <qti-set-outcome-value identifier="FEEDBACK">
                              <qti-base-value base-type="identifier">INCORRECT</qti-base-value>
                            </qti-set-outcome-value>
                          </qti-response-else>
                        </qti-response-condition>
                      </qti-response-processing>

                      <qti-modal-feedback outcome-identifier="FEEDBACK" identifier="CORRECT" show-hide="show">
                        <qti-content-body>
                          <p><strong>Correct!</strong> Well done.</p>
                        </qti-content-body>
                      </qti-modal-feedback>

                      <qti-modal-feedback outcome-identifier="FEEDBACK" identifier="INCORRECT" show-hide="show">
                        <qti-content-body>
                          <p><strong>Incorrect.</strong> Please review and try again.</p>
                        </qti-content-body>
                      </qti-modal-feedback>
                    </qti-assessment-item>
                  metadata:
                    subject: Math
                    grade: "5"
                    standard: Number Operations
                    lesson: Basic Addition
                    difficulty: hard
              xml-text-entry:
                summary: XML - Text Entry Example
                value:
                  format: xml
                  xml: >-
                    <?xml version="1.0" encoding="UTF-8"?>

                    <qti-assessment-item
                      xmlns="http://www.imsglobal.org/xsd/imsqtiasi_v3p0"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://www.imsglobal.org/xsd/imsqtiasi_v3p0 https://purl.imsglobal.org/spec/qti/v3p0/schema/xsd/imsqti_asiv3p0_v1p0.xsd"
                      identifier="xml-text-entry-item-1"
[...]
